.tab-hidden,
.tab-hidden .ql-editor {
    display: none !important;
}
.tab-menu button.active {
    background-color: #60C0BD !important;
    color: white;
}
.tab-menu button {
    color: White;
    background: LightGray;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    white-space: nowrap;
    text-align: center;
    padding: 10px .5em;
    order: -1;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    flex: 1;
}
#tab-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 0 0 !important;
}
#tab-mask{
    padding: 0;
    border-left: solid 10px #aaaaaa;
    border-bottom: solid 1px #aaaaaa;
    padding: 0px 10px 0px 10px;
    line-height: 40px;
    font-size: 1.5em;
    font-weight: bold;
}